<center>

<%= link_to 'Back', cars_path %>

<h1> Car Form !!</h1>

<%= form_for @car do |f| %><br>

<%= f.label "Brand" %>
<%= f.select :brand, [['HONDA','HONDA'],['TATA','TATA'],['AUDI','AUDI'],['BMW','BMW'],['RENAULT','RENAULT'],['MAHENDRA','MAHENDRA']] %><br><br>

<%= f.label "Model" %>
<%= f.text_field :model %><br><br>

<%= f.label "Price" %>
<%= f.text_field :price %><br><br>

<%= f.label "Manufacture Year" %>
<%= f.select :maufacture_year, (Date.today.year-50)..(Date.today.year), :selected => Date.today.year %>
<br><br>

<%= f.label :variant, 'Variant: ' %>
<%= f.label :Petrol %>
<%= f.radio_button :variant, 'Petrol' %>
<%= f.label :Diesel %>
<%= f.radio_button :variant, 'Diesel' %> <br><br>

<%= f.label "Choose Image" %>
<%= f.file_field :images, multiple: true %><br><br>

<%= f.submit %>

<% end %>
</center>