<center>  <h1> Welcome to Car Kharido  </h1>
<h3> <%= "Hi, #{current_user.username}" %> </h3>
</center>

      <ul class="navbar navbar-dark bg-dark">">
        <li class="nav-item">
          <a class="nav-link" href="#">
        <%= link_to 'Sell Car', new_car_path  %>
          </a>
          <li class="nav-item">
          <a class="nav-link" href="#">
        <%= link_to 'Buy Car', cars_path %>
          </a>
        <li class="nav-item">
          <a class="nav-link" href="#">
          <% if current_user.profile.nil? %>
          <%= link_to 'Create Profile', new_profile_path  %>
          <% else %>
          <%= link_to 'Edit Profile', edit_profile_path(current_user.profile.id)  %>
          <% end %>
          </a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="#">
        <%= link_to 'Show Enquiries', enquiries_path %>
          </a>
        <%
=begin%>
 <li class="nav-item">
          <a class="nav-link" href="#">
        <%= link_to 'Show Reviews' %>
          </a> 
<%
=end%>
        <li class="nav-item">
          <a class="nav-link" href="#">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </a>
        </li>
    </div>
  </div>
</nav>
