<center>  <h1> Welcome to Car Kharido  </h1> </center>

      <ul class="navbar navbar-dark bg-dark">">
        <li class="nav-item">
          <a class="nav-link" href="#">
        <%= link_to 'Home', cars_path %>
          </a>
          <li class="nav-item">
          <a class="nav-link" href="#">
        <%= link_to 'Buy Car' %>
          </a>
        <li class="nav-item">
          <a class="nav-link" href="#">
        <%= link_to 'Sell Car' %>
          </a>
        <li class="nav-item">
          <a class="nav-link" href="#">
        <%= link_to 'Sign Up', new_user_registration_path %>
          </a>
        <li class="nav-item">
          <a class="nav-link" href="#">
        <%= link_to 'Sign In', user_session_path %>
          </a>
        </li>
    </div>
  </div>
</nav>
