<center>
<%=form_for @enquiry do |f| %>
<div style="display: none;">
<%= f.label :car_id %><br>
<%= f.text_field :car_id, :value => params["format"] %>
</div>

<div>
<%= f.label "Content" %><br>
<%= f.text_field :content %>
</div>

<div>
<%= f.label "Contact Number " %><br>
<%= f.text_field :contact_no %>
</div>

<div>
<%= f.submit %>
</div>
<% end %>
</center>